body{
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}
.intro{
    background-color: #2F5A78;
    color: white;
    padding: 18px;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.heading, .prof {
    text-align: center;
}
.heading {
    margin-top: 20px;
    font-weight: bold;
    font-size: x-large;
}
.prof {
    margin: 0%;
    font-style: italic;
   
}
.summary {
    margin-top: 20px;
    text-align: justify;
}
.contactinfo {
    padding: 18px;
    background-color: #eeeeee;
}
.contactinfo > .data {
    display: inline-block;
    display: -moz-inline-box;
    width: 33%;
    text-align: center;
}
.icon{
    color: #2F5A78;
}
.date{
    font-size: 16px;
    color: #2F5A78;
    font-weight: bold;
}
.subheading{
    font-size: 20px;
    font-weight: bolder;
    color: #2F5A78;
    text-transform: uppercase;
}

.skills ul li .skill_prog{
    width: 60%;
    height: 5px;
    position: relative;
}
.skills ul li .skill_prog span{
    position: absolute;
    height: 100%;
    background: #2F5A78;
    padding-right: 50px;
}
.skill_name{
    width: 4px;
}
.skill_per{
    margin-right: 15px;
}
@media (max-width:430px){
    .contactinfo > .data {
        display: block;
        text-align: center;
        width: 100%;
    }
    .data {
        margin-top: 20px;
    }
  }
