<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /POS/resto/v1/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /POS/resto/v1/index.html [L]
</IfModule>
